.main {
	background: #666;
}

.init-logo {
	height: 256px;
	width: 256px;
	background: url(../images/icon-256.png) center center no-repeat;
}
.init-text {
	color: white;
	font-size: 120%;
	text-shadow: #000 5px 5px 5px;
	padding-bottom:  32px;
}

.first {
	border-top: none;
}
.last {
	border-bottom: none;
}

.docInfo {
	padding-left: 8px;
	padding-right 8px;
}

.smallLeftPad {
	padding-left: 1ex;
}

.docIcon {
	width: 24px;
	height: 24px;
	text-align: left;
	background-image: url(../images/buttons.png);
	background-repeat: no-repeat;
}
.docIcon.favNo {background-position: 0px 0px;}
.docIcon.favYes {background-position: 0px -24px;}
.docIcon.readNo {background-position: -24px 0px;}
.docIcon.readYes {background-position: -24px -24px;}
.docIcon.pdfNo {background-position: -48px -0px;}
.docIcon.pdfYes {background-position: -48px -24px;}

.main-list .icon {
	width: 32px;
	height: 22px;
	vertical-align: middle;
	text-align: left;
	background-position: center center;
	background-repeat: no-repeat;
}

.main-list .icon.all-documents {
	background-image: url(../images/all-documents.png);
}
.main-list .icon.recently-added {
	background-image: url(../images/recently-added.png);
}
.main-list .icon.favorites {
	background-image: url(../images/favorite.png);
}
.main-list .icon.needs-review {
	background-image: url(../images/needs-review.png);
}
.main-list .icon.my-publications {
	background-image: url(../images/my-publications.png);
}
.main-list .icon.unsorted {
	background-image: url(../images/unsorted.png);
}
.main-list .icon.recently-added {
	background-image: url(../images/recently-added.png);
}
.main-list .icon.trash {
	background-image: url(../images/trash.png);
}
.main-list .icon.group-folder {
	background-image: url(../images/group-folder.png);
}
.main-list .icon.download-doc {
	background-image: url(../images/download-doc.png);
}

.folder-count {
	position: relative;
	/*right: 12px;*/
	float: right;
	padding: 4px 0px;
	border-width: 0px 11px 0px 11px;
	-webkit-border-image: url(../images/dashboard-unread.png) 0 11 0 11;
	color: white;
	font-size: 16px;
	font-weight: bold;
}